<%- include('./header.ejs') %>

  <!-- Details -->
  <div class="container mt-5">
    <h1 class="text-center bg-success text-white">PROPERTY DETAIL</h1>
    <div class="bg-light rounded p-3">
      <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, 0.3)">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <!-- slider bar start  -->
            <% if(message.length > 0 ){ %>
              <div class="alert alert-success"><%= message %></div>  
              <% } %>
              
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <% p.all_image.forEach((imageitem)=>{ %>

                      <div class="carousel-item active">
                        <img src="<%= imageitem.url %>" class="d-block w-100" alt="...">
                      </div>
                      <% }) %>


                  </div>

                </div>
          </div>

          <!-- slider bar End-->

          <div class="col-lg-6 px-5">
            <h1 class=" text-success text-center" style="font-weight: bold; font-size: 60px;">
              <%= p.flatname %>
            </h1>
            <hr>
            <p class="mb-4 align-items-center text-danger" style="font-weight: bold; font-size: 40px;">
              <%= p.location %>
            </p>
            <p></p>
            <p><i class="fa fa-check text-success me-3 "></i>
              <%= p.prize %>₹
            </p>
            <p><i class="fa fa-check text-success me-3"></i>
              <%= p.area %>
            </p>
            <p><i class="fa fa-check text-success me-3"> </i>
              <%= p.type %>
            </p>
            <p><i class="fa fa-check text-success me-3"></i>
              <%= p.bath %>
            </p>
            <p>
              <i class="fa fa-check text-success me-3"> </i>
              <%= p.facility %>
            </p>

            <p>
              <i class="fa fa-check text-success me-3"> </i>
              <%= p.flatfor %>
            </p>
            <p><i class="fa fa-check text-success me-3"> </i>
              <%= p.status %>
            </p>
            <!-- <a class="btn btn-success py-3 px-5 mt-3" href="">Book Now</a> -->

            <button type="button" class="btn btn-success py-3 px-5 mt-3" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Book Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, 0.3)">
      <div class="row">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.037017126202!2d78.19241871486703!3d26.195474083441738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3976c40e9dae32bd%3A0x4fe1c3166b6ecf4d!2sShrasti%20Enclave!5e0!3m2!1sen!2sin!4v1680073346968!5m2!1sen!2sin"
          width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  <br />


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            <%= p.flatname %>
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/insertbook/<%= p._id %>" method="post">
            <div class="md-3">
              <label for="">Name</label>
              <input type="text" name="name" class="form-control" />
            </div>
            <div class="md-3">
              <label for="">Email</label>
              <input type="email" name="email" class="form-control" />
            </div>
            <div class="md-3">
              <label for="">Address</label>
              <input type="text" name="address" class="form-control" />
            </div>
            <div class="md-3">
              <label for="">Mobile No.</label>
              <input type="text" name="mobile" class="form-control" />
            </div>
            <input type="hidden" name="propertyname" value="<%= p.flatname %>" />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
  </div>


  <%- include('./footer.ejs') %>